# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
env/
venv/
*.egg-info/
dist/
build/

# Editors
.vscode/
.idea/

# Data / outputs
datasets/
runs/
logs/
*.pth
*.pt
*.ckpt
*.log
*.jsonl

# Tongue_segment specific
Tongue_segment/data/
Tongue_segment/runs/
Tongue_segment/weights/

# OS
.DS_Store
Thumbs.db
